# SSH stuff
ssh/
.ssh/
**/id_rsa
**/id_ed25519
**/id_ecdsa
**/known_hosts
**/authorized_keys
**/config
*.pem

# Machine-local Git identity config
git/.gitconfig.local
git/.gitconfig.work
git/.gitconfig-work
